@use 'src/styles/vars';

.currencies {
  color: vars.$mainColor;
  text-align: left;
  background-color: vars.$clearColor;
  max-height: 450px;
  overflow-y: auto;

    .title {
      font-weight: vars.$fwBold;
      padding: vars.$gutter;
      margin-top: vars.$gutter;
    }

    .all-currencies {

      .currency {
        padding: vars.$gutter;
        border-top: solid 1px vars.$alternativeColor;
        font-weight: vars.$fwMedium;
        cursor: pointer;

        // quand la propriété indiquée change(ici background color), la nouvelle
        //valeur est prise en compte, progressivement pdt le tps indiqué
        transition: background-color vars.$slowTransition;

        &:hover {
          background-color: vars.$alternativeColor;
          transition: background-color vars.$fastTransition;
        }
      }

    }

}


