@use 'src/styles/vars';

.header {
  background-color: vars.$mainColor;
  color: vars.$clearColor;
  padding: vars.$gutter * 2;

  .title {
    font-weight: vars.$fwBold;
    font-size: 2rem;
  }

  .amount {
    margin-top: vars.$gutter;
  }
}
